.navbar {
    background-color: #0072bc;
}

.navbar .site-name {
    width: 150px;
    color: #f1f5f8;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .navbar .site-name {
        width: auto;
    }
}

.navbar .links {
    background-color: #0072bc;
}

.nav-links .nav-item {
    color: #f1f5f8;
    margin-left: 1.5rem;
    font-weight: 400;
}

.nav-links a:hover,
.nav-links a.router-link-active {
    color: #f1f5f8;
}

.nav-item > a:not(.external):hover, 
.nav-item > a:not(.external).router-link-active {
    border-bottom-width: 2px;
    border-color: #f1f5f8;
    padding-bottom: .25rem;
    line-height: 1.5;
}

.search-box input {
    transition: all .2s ease-in;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 0 0.5rem 0 1.75rem;
    color: #f1f5f8;
}

.search-box input:focus {
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: .25rem;
    padding: 0 0.5rem 0 2rem;
}

@media (min-width: 992px) {
    .search-box input:focus {
        width: 20rem;
    }
}

.sidebar-button {
    color: #f1f5f8;
}