<template>
  <section class="container">
    <div v-for="(test, index) in tests" :key="index" class="card">
      <div class="card-content">
        <div class="title">
          <span>{{index + 1}}. {{test.question}}</span>
        </div>
        <section class="list">
          <div v-for="(option, i) in test.availableAnswers" :key="i" class="item-list">
            <input type="radio" v-model="test.answer" :id="`${index + 1}${option.id}`" :value="option.id" :name="`${index + 1}${option.id}`">
            <label :for="`${index + 1}${option.id}`">
              <span :class="getLabelClass(test, option)">
                {{option.label}}{{option.id === test.correctAnswer ? '.' : ''}}
              </span>
            </label>
          </div>
        </section>
      </div>
    </div>
    <section class="btn-section">
      <div style="display: flex; align-items: center;">
        <button class="btn-answer" @click="confirm">Проверить</button>
        <div v-if="result" style="margin-left: 20px">
          {{result}}
        </div>
      </div>

      <button class="btn-reset" v-if="result" @click="reset">Сбросить</button>
    </section>
  </section>
</template>

<script>
import QRadio from "./QRadio";

export default {
  props: {
    testNumber: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      tests: [],
      result: null
    };
  },
  watch: {
    testNumber: {
      handler(testNumber) {
        if (testNumber) {
          this.fetchTests(testNumber);
        }
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    async fetchTests(testNumber) {
      let module = require(`../../knowledge-check/tests-source/${testNumber}`);
      this.tests = module.tests.map(test => {
        test.availableAnswers = this.randomizeAnswers(test.availableAnswers);
        test.answer = null;
        test.isConfirm = false;
        return test;
      });
    },
    randomizeAnswers(availableAnswers) {
      return availableAnswers.sort((a, b) => Math.random() - 0.5);
    },
    confirm() {
      let isValid = this.tests.every(test => test.answer !== null);
      if (!isValid) {
        return;
      }

      let result = 0;

      this.tests = this.tests.map(test => {
        test.isConfirm = true;
        if (test.answer === test.correctAnswer) {
          result++;
        }
        return test;
      });

      this.result = `${result}/${this.tests.length}`;
    },
    reset() {
      this.tests = this.tests.map(test => {
        test.answer = null;
        test.isConfirm = false;
        return test;
      });
      this.result = null;
    },
    getLabelClass(test, option) {
      if (test.isConfirm) {
        return option.id === test.correctAnswer
          ? "correct-answer" : '';
          // : "uncorrect-answer";
      }
      return;
    }
  },
  components: {
    QRadio
  }
};
</script>

<style scoped>
.btn-section {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-answer {
  padding: .5rem .75rem;
  /* background-color: #ffffff;
  color: #3eaf7c;
  border: 1px solid #3eaf7c; */
  color: #fff;
  background-color: #0072bc;
  border: 1px solid #0072bc;
  border-radius: .25rem;
}

.btn-answer:hover {
  background-color: #0072bc;
  opacity: .9;
}

.btn-reset {
  padding: .5rem .75rem;
  background-color: #ffffff;
  color: #666;
  border: 1px solid rgb(244, 244, 244);;
  border-radius: .25rem;
}

.btn-reset:hover {
  background-color: #fafafa;
  opacity: .9;
}

.container {
  display: flex;
  flex-direction: column;
}
.card {
  border: 2px solid rgb(244, 244, 244);

  margin: 10px;
  flex-shrink: 1;

  display: flex;
  justify-content: center;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 85%;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
}

.item-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.correct-answer {
  color: #3eaf7c;
}

.uncorrect-answer {
  color: red;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  /* background: #f87da9; */
  background: #999;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
</style>
